& {
    #platui > #mixins;
    #platui > #media;

    [plat-control="mylowes-vc"] {
        padding: 1em;

        .title {
            font-size: 200%;
            text-align: center;
            color: @secondary-color;

            .bold {
                color: @primary-color;
            }
        }

        .sign-in {
            margin: 1em 0 0.25em;
            font-size: 120%;
        }

        .sign-up {
            font-size: 90%;
        }

        .welcome {
            text-align: center;
            margin: 2em 0;
        }

        .login-form {
            .forgot {
                color: @primary-color;
                font-size: 80%;
                margin-top: 0.5em;
            }

            .save-email {
                margin: 1em 0;
                line-height: 1.8;
            }
        }

        hr {
            margin: 2em 0;
        }

        .plat-input.input-outline {
            width: 100%;

            input {
                .border-radius(0);
                font-weight: 100;
            }

            &.invalid {
                input {
                    border-color: @danger-color;
                }
            }
        }

        .plat-toggle {
            float: right;
        }

        .plat-button {
            .border-radius(0);
            width: 100%;

            &.sign-out {
                margin-top: 1.25em;
            }
        }

        .account {
            .input-block {
                @border: 1px solid darken(@background-grey, 10%);
                padding: 1.1em 0;
                border-top: @border;

                &:last-of-type {
                    border-bottom: @border;
                }

                .question {
                    margin-bottom: 0.25em;
                }

                .answer {
                    padding-left: 1em;

                    &.pita {
                        line-height: normal;

                        i {
                            vertical-align: 0.1em;

                            &.fa-sun-o {
                                color: @caution-color;
                                position: relative;

                                &::after {
                                    .border-radius(50%);
                                    content: "";
                                    background-color: @caution-color;
                                    width: 0.75em;
                                    height: 0.75em;
                                    position: absolute;
                                    margin: auto;
                                    left: 0;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                }
                            }

                            &.fa-cloud {
                                color: #97a7a7;
                            }
                        }
                    }
                }

                .plat-slider {
                    width: 80%;
                    display: inline-block;
                }
            }
        }
    }
}
