& {
    #platui > #mixins;
    #platui > #media;

    [plat-control="findstore-vc"] {
        .title {
            padding: 1em;
            font-size: 200%;
            text-align: center;
            color: @secondary-color;
        }

        .menu {
            .item {
                padding: 1em;

                .content {

                }

                i {
                    position: absolute;
                    right: 0;
                    font-size: 200%;
                }
            }
        }
    }
}
