& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="product-vc"] {
        .hero {
            background-size: 250%;
            background-position: center;
            background-repeat: no-repeat;

            // it is important to set a background color that closely represents the image background color
            // this allows for a graceful transition while the image loads
            background-color: fadeout(@black, 50%);

            .hero-description {
                margin: 2em 0;
                font-size: 90% !important;
            }
        }
    }
}
